<!DOCTYPE html>
<html>
<head>
    <title>Task 5</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h2>{{>header}}</h2>
    {{!-- <div class="welcome"> <h2 class="title">Welcome To The Website</h2></div> --}}
                    <form id="form1">
                <input type="text" id="address">
                <button>Search for weather</button>
        </form>
        <p id="location"></p>
        <p id="forecast"></p>
        <p id="error"></p>
        <p id="longitude"></p>
        <p id="latitude"></p>

        <script src="js/script.js"></script>
</body>
</html>
